/* gir en standard skrifttype for alt innhold */
/*
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* grid container som innheholder header, main og footer  */
/*
#grid-container {
  display: grid;
  grid-template-areas: "header" "main" "content" "footer";
} */

/* padding for å få mellomrom i header, main og footer */
/*
header, main, content, footer {
  padding: 1rem;
}
/* styling for seksjonen header */
/*
header {
  font-size: 1.5rem;
  font-weight: 600;
  grid-area: header;
} 

/* gjør om til flex-box for navigasjonen*/
/*
header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/*
/* uten understrek på logo-link */
/* 
#logo {
  text-decoration: none;
} */

/* standrad navigasjonmeny skjules */
/*
.navbar {
  display: none;
}

 responsive navigasjons meny styling */

/* 
 .responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #242424;
  margin: 0;
  padding: 0;
  top: 40px;
  width: 100%;
  list-style: none;
}

.responsive a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

/* stying på knapp 
.white-btn {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  background-color: #5435;
  color: #fff;
  border-radius: 5px;
  font-weight: 400;
}
*/

/* Main seksjonen styles i grid */
/*
main {
  grid-area: main;
} */

/* bildebredde 100% i main seksjon */
/*
main section img {
  width: 100%;
} */
/*

main article img {
  width: 100%;
  /* padding: none;*/

/*
footer {
  grid-area: footer;
} */

/* Styler seksjonen for tjenester med flexboxer og farger 
#services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #efefef;
  padding: 1rem;
  justify-content: space-around;
}

#services h2 {
  width: 100%;
  text-align: center;
}

#services article {
  max-width: 300px;
  width: 100%;
  min-width: 200px;
} */

/* Mobile first, for enheter og skjermer som har en bredde over 600px */
/*
@media only screen and (min-width: 600px) {
/* grid malen endres *
  #grid-container {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
   }
    her er den skjulte navmenyen som også skjulte menyikoner 
   .navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0;
   }
    */
   /* meeny ikoner skjuiles i header */
  
  /*  #ham, .fa-magnifying-glass {
    display: none;
   } */

   /* gir mellomrom av seksjonene som viser  bilder og tekst side by side 
   .flex-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   } */

   /* bilder blir redusert til bredde 50% i flex-sections 0
   .flex-section img {
    width: 50%;
   }

   /* gir noe mellomrom og justering i seksjoner med flex 
   .flex-section section {
    padding: 1rem;
    width: 40%;
    algin-self: center;
   }

   /* her blir rekkefølge for bilder og tekst endret, høyrejusterte seksjoner 
   .right img {
    order: 1;
   } */


/* DENNE SKAL GJELDE */

html, body {
  margin: auto;
  padding: 1.5%;
  background-color: #c8cae1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; /* kan fjernes */
  overflow: visible;
}

.logo {
  top: 50px;
}

/* Logo justering størrelse */
.logo img {
  width: 100%;

}

/* CSS - For handlekurv, bla mobilvy */
.shopping-cart img {
  width: 35px;
  height: 33px;
  display: block;
  cursor: pointer;
  position: absolute: 
  top: 55px;
  right:100px;
}

/* For søkefelt */
input[type=text] {
  position: absolute;
  margin: auto;
  width: 25%;
  top: 5%;
  right: 40%;
  padding: 6px;
  border: none;
  font-size: 17px;

}





@media screen and (max-width: 900px) {
  .menu-toggle:checked + .nav .hamburger-menu {
    display: block;
  }
  .memu-toggle {
    display: none;
  }
  nav {
    display: flex; 
    flex-direction: column;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 0.2em;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    border-bottom: 2.5px solid black;
    border-top: 2.5px solid black; 
    background-color: grey;

  }
  .navLinks {
    font-size: 0.5;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  /*Styler hamburgermenyen */
  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;

  }
  /* styler hamburgermenyen */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;¨
    margin: 3px 0;

  }
}

/* CSS for skjermer stærre enn 900px */
@media screen and (min-width: 900px) {
  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
    border-bottom: 2.5px solid black;
    border-top: 2.5px solid black;
    background-color: grey;
  }
  /* Skjule menycheckbox knapp */
  .menu-toggle {
    display: none;
  }
  /* styling av linker i dekstop */
  .navLinks {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  .navLinks:hover {
    color: rgb(221, 205, 143);
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
    padding: 0.5em 0.5em;
  }
}
/* Kolonner i header/navigasjons header */
.1   
{
  grid-column:1;
}

.2   
{
  grid-column:2;
}

.3 {
  grid-column:3;
}

.4 {
  grid-column:4;
}

.5 {
  
}

/* Styling av header seksjonen 
header {
  grid-area: header;
  font-size: 1.5rem; 
  font-weight: 600;
} */
/* SØKEFELT ØVERST */
/*
label {
  display: inline;
  font: 1rem 'Fira Sans', sans-serif;
}
input, label { 
  margin: 0.4rem 0;
} */

/* flex seksjoner for navigasjonene */
header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}


/* for enheter og skjermer med vidde 900 */
@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
    display: none;
 }
}  

.logo { /* kan kanskje legges med */ 
  grid-column: right;
  background-color: none;
  background-position: contain;
  background-repeat: no-repeat;
  height: 5.5vh; 
} 

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-row:auto; /* Kan fjernes */
  align-items: center;
  text-align: center;
  border-bottom: 3.5px solid black;
  border-top: 3.5px solid black;
  background-color: gray;
}

/* Kolonner i header/navigasjons header */
.1   
{
  grid-column:1;
}

.2   
{
  grid-column:2;
}

.3 {
  grid-column:3;
}

.4 {
  grid-column:4;
}

.5 {
  
}
#twist {
  color: blue;
} 

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 3.5em;
}

h2 {
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: 2.5em;
  padding-top: 15px;
  margin: 0;
 }

 h3 {
  font-family: arial, helvetica, sans-serif;
  color: black;
  font-size: 1.5em;
  padding-top: 10px;
  margin: 0;
 }

 p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  padding-top: 0.2%;
  margin: 1.5%;
 }

 section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-decoration: solid;
  text-transform: uppercase;
  background-color:#9ea1c3;
  margin: auto; /* kan fjernes */
  padding: 1px; /* kan fjernes */
  text-align: center;
  place-content: space-around; /* kan fjernes */

 }

/* Styling for hver individ produkt, bilde, knapp og tekst */ 
 .products {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
 }

.product_item {
  padding: 0.5%;
  flex-grow: 0;
  flex-basis: 20%
  font-size: 12px;
}
.product_image {
  max-width: 100%;
  flex-shrink: 0;
}
.info {
  font-size: 12px;
}
.buy_button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (min-width: 900px) {
  section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase; 
    background-color: white;
  }
  .products {
    display: flex;
  }
  .product_item {
    padding: 0.5%;
    flex-basis: 30%;
    font-size: 12px;
  }
}

.image {
  position: relative;
}
 /* Justerer slik at tekst faller over bilde */
 /* ønsker at teksten faller på bakgrunnen på bilde, slik at tekst blir mer synlig */

.image figcaption {
  position: fixed;
  top: 15%;
  bottom: 95%;
  left: 35%;
  font-size: 65px;
  font-style: italic;
  color: #ffc107;
  text-decoration: solid;
  font-family: none;
  padding: 20px;
 }

   
 .wrapper figcaption {
  position: absolute;
  top:25%;
  bottom: 75%;
  left: 30%;
  font-style: 60px;
  font-style: italic;
  color: #18ffa8;
}

@media only screen and (min-width: 900px) {
  .image img {
    width: 100%;
    height: 100%;
    position: center;
  }
  .image {
    position: center; 
  }

  .image figcaption {
    position: center;
    top: 4%;
    bottom: 95%;
    left: 40%
    font-size: 40px;
    font-style: italic;
    color: black;
    text-decoration: solid;
    font-family: fantasy;
    padding: 20px;
  }
  .wrapper figcaptopn {
    display: none;
  }
}

 /* FOOTER */

 .footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
 }

  .footer-basic ul {
   padding: 0;
   list-style: none;
   text-align: center;
   font-size: 18px;
   line-height: 1.6;
   margin-bottom: 0;
  }

  .footer-basic li {
   padding: 0 10px;
  }

  .footer-basic ul a {
   color: inherit;
   text-decoration: none;
   opacity: 0.8;
   }


  .footer-basic ul a:hover {
   opacity:1;
  }

  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }

  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
    max-height: inherit;
  }

  /* justering av ikoner */
  .footer-basic img {
    height: 50%;
  }

  .footer-basic .social > a:hover {
    opacity: 0.9;
  }

  
  .footer-basic .copyright {
   margin-top:15px;
   text-align:center;
   font-size:13px;
   color:#aaa;
   margin-bottom: 0;
  }





.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:#18ffa8;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.nav .search-container button:hover {
  background: #ccc;
}

/* font, størrelse i navigasjonsmenyen */
.navLinks {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25em;
  text-transform: uppercase; 
  text-decoration: solid;
  color: black;
}

.navLinks:hover {
  color: rgb(221, 205, 143);
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  padding: 0.5em 0.5em;
}



/* ALTERNATIV GRID SECTION */
/* g-t-c har ingen effekt her */
/* sentrerer innholdet til å ligge i vcenter */



 /* første bilde som møter kunden */
 .image img {
  width: 100%;
  height: 100%;
 } 
 .image {
  position: relative;
 }
 /* Justerer slik at tekst faller over bilde */
 /* ønsker at teksten faller på bakgrunnen på bilde, slik at tekst blir mer synlig */


  /*.Teksten på bilder/linker. Bruker kun fargen for å ha en sterk farge  */  
  
  .wrapper figcaption {
    position: absolute;
    top:25%;
    bottom: 75%;
    left: 30%;
    font-style: 60px;
    font-style: italic;
    color: #18ffa8;
  }

  /* FOOTER */

  
    .footer-basic .social > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 0 8px;
      color: inherit;
      opacity: 0.75;
      max-height: inherit;
    }

    .footer-basic img {
      height: 50%;
    }

    .footer-basic .social > a:hover {
      opacity: 0.9;
    }

    
    .footer-basic .copyright {
     margin-top:15px;
     text-align:center;
     font-size:13px;
     color:#aaa;
     margin-bottom: 0;
    }

 
 

 .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
 }
 
 .gallery img{
  width: 100%;
 }
 .gallery h2{
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;;
 }